apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

# Note: PROJECT_ID will be replaced by deploy-gke.sh script
# Using Artifact Registry instead of GCR (modern approach)
# Format: LOCATION-docker.pkg.dev/PROJECT_ID/REPOSITORY/IMAGE
images:
  - name: metalmart/catalogue
    newName: us-docker.pkg.dev/mirrord-test-474620/metalmart/catalogue
    newTag: latest
  - name: metalmart/inventory
    newName: us-docker.pkg.dev/mirrord-test-474620/metalmart/inventory
    newTag: latest
  - name: metalmart/checkout
    newName: us-docker.pkg.dev/mirrord-test-474620/metalmart/checkout
    newTag: latest
  - name: metalmart/order
    newName: us-docker.pkg.dev/mirrord-test-474620/metalmart/order
    newTag: latest
  - name: metalmart/order-processor
    newName: us-docker.pkg.dev/mirrord-test-474620/metalmart/order-processor
    newTag: latest
  - name: metalmart/frontend
    newName: us-docker.pkg.dev/mirrord-test-474620/metalmart/frontend
    newTag: latest
  - name: metalmart/visualization-frontend
    newName: us-docker.pkg.dev/mirrord-test-474620/metalmart/visualization-frontend
    newTag: latest
  - name: metalmart/visualization-backend
    newName: us-docker.pkg.dev/mirrord-test-474620/metalmart/visualization-backend
    newTag: latest

# GKE-specific patches for ingress and SSL certificate
patchesStrategicMerge:
  - ingress-patch.yaml
  - managedcertificate-patch.yaml
