apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

# Note: PROJECT_ID will be replaced by deploy-gke.sh script
# Using Artifact Registry instead of GCR (modern approach)
# Format: LOCATION-docker.pkg.dev/PROJECT_ID/REPOSITORY/IMAGE
images:
  - name: metalmart/catalogue
    newName: us-docker.pkg.dev/PROJECT_ID/metalmart/catalogue
    newTag: latest
  - name: metalmart/inventory
    newName: us-docker.pkg.dev/PROJECT_ID/metalmart/inventory
    newTag: latest
  - name: metalmart/checkout
    newName: us-docker.pkg.dev/PROJECT_ID/metalmart/checkout
    newTag: latest
  - name: metalmart/order
    newName: us-docker.pkg.dev/PROJECT_ID/metalmart/order
    newTag: latest
  - name: metalmart/order-processor
    newName: us-docker.pkg.dev/PROJECT_ID/metalmart/order-processor
    newTag: latest
  - name: metalmart/frontend
    newName: us-docker.pkg.dev/PROJECT_ID/metalmart/frontend
    newTag: latest
