apiVersion: apps/v1
kind: Deployment
metadata:
  name: order
  namespace: metalmart
spec:
  replicas: 1
  revisionHistoryLimit: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  selector:
    matchLabels:
      app: order
  template:
    metadata:
      labels:
        app: order
    spec:
      containers:
      - name: order
        image: metalmart/order:latest
        ports:
        - containerPort: 8084
        env:
        - name: PORT
          value: "8084"
        - name: DATABASE_URL
          valueFrom:
            secretKeyRef:
              name: db-secrets
              key: orders-url
        - name: KAFKA_BROKERS
          value: "kafka:9092"
        livenessProbe:
          httpGet:
            path: /health
            port: 8084
          initialDelaySeconds: 10
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 8084
          initialDelaySeconds: 15
          periodSeconds: 5
          failureThreshold: 5
        resources:
          requests:
            memory: "32Mi"
            cpu: "10m"
          limits:
            memory: "128Mi"
            cpu: "100m"
---
apiVersion: v1
kind: Service
metadata:
  name: order
  namespace: metalmart
spec:
  selector:
    app: order
  ports:
  - port: 8084
    targetPort: 8084
